@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
  --color-brand-yellow: #fbb110;
  --color-brand-red: #ff1333;
  --color-brand-brown: #241917;
  --color-brand-cream: #faf0e4;
}

html {
  scroll-behavior: smooth;
}

/* Reset solo para body y html */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-brand-brown);
  color: var(--color-brand-cream);
  font-family: Arial, Helvetica, sans-serif;
}

.font-race {
  font-family: var(--font-race);
}

.font-rajdhani {
  font-family: var(--font-rajdhani);
}

/* Animaciones para el Hero */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}